<div class="background">
   <div class="top-logo">
     <%= image_tag("/images/logo-speaking.png", height: 45) %>
     <br>
     <h5>Enjoy Speaking<br>Pronuntiation APP</h5>
     <h1>Welcome to Tvoz</h1>
   </div>

   <div class="translucent-box">
     <p></p>
   </div>

   <br>
   <p>BOX</p>
   <br>
   <p>BOX</p>
   <br>
   <p>BOX</p>
   <br>
   <p>BOX</p>
   <br>
   <p>BOX</p>
   <br>
   <p>BOX</p>
   <br>
   <p>BOX</p>
   <br>
   <p>BOX</p>
   <br>
   <div class="">
     <%= link_to 'Log in', "#" %>
   </div>
   <div class="">
     <%= link_to 'Register', "#" %>
   </div>
   <br>

 </div>