@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@font-face {
  font-family: 'Roboto', sans-serif;
  src: font-url('/assets/Roboto-Medium.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

$kinari: #FCFAF2;
$black: rgba(48,69,92,0.9);

