@import '~bootstrap/scss/bootstrap';
@import '/stylesheets/custom';


html, body {
  height: 100%;
  width: 100%;
  background-color: $carmen;
  color: $black;
}

.outer-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  border-style: solid;
  border-width: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100px;
  z-index: 100;
  background-color: #fff;
  transition: 1s;
  .logo {
    height: 65px;
  }
  .fas {
    font-size: 0.9rem;
  }

}


// // BOTTOM PART

// // footer {
// //   position: fixed;
// //   left: 0;
// //   bottom: 0;
// //   width: 100%;
// //   background-color: red;
// //   color: white;
// //   text-align: center;
// //   margin-top: auto;
// //   .footer-wrap {
// //     height: 100px;
// //     width: 100%;
// //   }

// //   .footer-logo  {
// //     width: 100%;
// //     min-width: 100%;
// //     overflow: hidden;
// //   }
// //   p {
// //     margin-top: 32px;
// //     font-size: 12px;
// //     text-align: center;
// //     vertical-align: bottom;
// //   }
// // }


// .copywright {
//   position: fixed;
//   bottom: 0;
//   text-align: center;
//   color: $kinari;
// }
