@import "custom";

// .background {
//   background-image: url("/images/background_sky.jpg");
//   background-size: cover;
//   background-position: center top;
// }

// .top-front {
//   display: block;
//   height: 100vh;
//   margin-left: auto;
//   margin-right: auto;
//   .top-logo {
//     align-self: center;
//     height: 100px;
//     .top-logo-inner {
//       margin-top: 50px;
//       margin-bottom: 50px;
//     }
//   }
//   img {
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//   }
//   h1 {
//     font-size:1.5rem;
//     font-weight: bold;
//     text-align: center;
//     text-transform: uppercase;
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     margin: 0;
//     color: $black;
//   }
//   h5 {
//     text-align: center;
//     font-weight: bold;
//     padding: 20px;
//     margin: 0;
//     color: $black;
//   }
// }

// .content{
//   display: block;
//   height: 100vh;
//   margin-left: auto;
//   margin-right: auto;
//   text-align: center;
//   font-weight: bold;
//   padding: 20px;
//   margin: 0;
//   color: $black;
// }


// .top-bottom{

  
// }

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}











/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


#loggin-top{
    background: #f5683d;
    padding: 10vh 1vh;
    
}

#loggin-inner-top{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px;
    padding: 30px 30px;
}