// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

#task-table-background{
    background: #f5683d;
    padding: 5vh;
    
}

#task-inner-table{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px;
    padding: 10px;
}

.user_avatar {
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
  width: 70px;
}

.user_avatar:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.community-profile{
  text-align: center;
  display: block;
  background: #fff;
  box-shadow: 0px 0px 10px 0px;
  padding: 100px 0px;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: auto;
}

.info-tag{
  width: 50%;
  margin: auto;
}